body {
  background: linear-gradient(
    270deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: 1400% 1400%;
  animation: rainbowCycle 20s linear infinite;
}

@keyframes rainbowCycle {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

h1 {
  color: blue;
}

h2{
  color: red;
}
h6 {
  font-size: 12px;
}
[onClick] {
    cursor:pointer;
}
